ul {
  list-style-type: none;
}

.index-1 {
  z-index: 1;
}

.navbar {
  z-index: 10;
}

.custom-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
}

.search-centered {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

aside {
  position: fixed;
  top: 56px;
  height: calc(100vh - 56px);
  background-color: #efeff1;
  width: 240px;
  left: 0;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;
}

.h-42 {
  position: relative;
  height: 42px;
}

.hover\:bg-\[\#e6e6ea\]:hover {
  background-color: #e6e6ea;
}

.avatar {
  width: 32px;
  position: relative;
  overflow: hidden;
  margin: 0 !important;
  margin-right: 10px !important;
}

.avatar .aspect-ratio {
  position: relative;
  width: 100%;
}

.avatar .aspect-ratio .spacer {
  width: 100%;
  padding-bottom: 100%;
}

.avatar .aspect-ratio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fs-\[14px\] {
  font-size: 14px;
}

.fs-\[13px\] {
  font-size: 12px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.min-w-0 {
  min-width: 0;
}

.count {
  min-width: 40px;
}

aside ul a {
  max-width: 100%;
}

.thumbnile {
  position: relative;
  display: block;
  width: 100%;
}

.aspect-ratio {
  overflow: hidden;
  position: relative;
  width: 100%;
}

#recommended .thumbnile .aspect-ratio .spacer {
  width: 100%;
  padding-bottom: 56.25%;
}

.thumbnile .aspect-ratio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.centered {
  max-width: 2000px;
  margin: 0 auto;
}

.video-avatar {
  display: inline-flex;
  width: 40px;
  flex-shrink: 0;
  margin-right: 10px;
  position: relative;
  max-height: 40px;
}

.video-avatar .spacer {
  padding-bottom: 100%;
}

.video-avatar img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 999px;
}

#recently .spacer,
#categories .spacer {
  padding-bottom: 133.333%;
  width: 100%;
}

.tags > div {
  user-select: none;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

.s-row {
  display: flex;
  margin: 0 -5px;
  min-width: 100%;
  flex-wrap: wrap;
}

.s-row > * {
  width: 120px;
  flex: 1 0 auto;
  max-width: 50%;
  padding: 0 5px;
}

.s-card a {
  color: inherit !important;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  gap: 8px;
}

.hover\:underline:hover {
  cursor: pointer;
  text-decoration: underline;
}

.duration-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5rem;
}

.rounded-md {
  border-radius: 4px;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

@media (min-width: 991.98px) {
  .lg\:ms-\[240px\] {
    margin-left: 240px;
  }
}
